/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build/
/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/nbproject/
/HearthstoneBanCalculatorMVN/target/
/HearthstoneBanCalculator/target/
/project/HearthstoneBanCalculator/target/
/project/HearthstoneBanCalculator/nbproject/
/HearthstoneBanCalculator/nbproject/
/HearthstoneBanCalculator/hsbc.db
/HearthstoneBanCalculator/src/test/java/database/test.db
